## Préliminaires - prise de connaissance des données

### Importations des modules et des données

In [88]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
% matplotlib inline
#import scipy.stats as st
#import statsmodels.api as sm
#from sklearn.datasets import load_iris
#iris_df_ori = load_iris()
####     A ESSAYER      #######################################################
# GRAPHES INTERACTIFS
# %matplotlib notebook # ne pas oublier de désactiver l'interctivité (bouton topright)

# POUR LES GRAPHIQUES
# % matplotlib inline 
# plt.rcParams['figure.figsize'] = [9.5, 6] # ajuster la taille

# POUR DESACTIVER LA TOOLBOX GRAPHES TOP GRANDS
# %%javascript
# IPython.OutputArea.prototype._should_scroll = function(lines) {
#     return false;
# }

In [130]:
# Utilisé la fonction dropna (colonne nulle) pour éliminer les colonnes fantômes "Unamed en fin de tableau"
data = pd.read_csv("../DONNEES/EdStatsData.csv").dropna(how='all', axis='columns')
country = pd.read_csv("../DONNEES/EdStatsCountry.csv").dropna(how='all', axis='columns')
cnt_ser = pd.read_csv("../DONNEES/EdStatsCountry-Series.csv").dropna(how='all', axis='columns')
series = pd.read_csv("../DONNEES/EdStatsSeries.csv").dropna(how='all', axis='columns')
footnote = pd.read_csv("../DONNEES/EdStatsFootNote.csv").dropna(how='all', axis='columns')

### Dimensions des 5 tables de données

In [119]:
## Fonction qui extrait les données principales relatives aux colonnes

def infos_df (df):
    infos = pd.DataFrame(df.dtypes).T.rename(index={0:'Type'}) 
    infos = infos.append(pd.DataFrame([df[col].size for col in df.columns],index=df.columns)\
                               .T.rename(index={0:'Nbe lignes'}))
    infos = infos.append(pd.DataFrame(df.isna().sum()).T.rename(index={0:'Nbe NaN'}))
    infos = infos.append(pd.DataFrame(infos.loc["Nbe lignes"]-infos.loc["Nbe NaN"])\
                         .T.rename(index = {0:"Nbe Entrées"}))
    infos = infos.append(pd.DataFrame(df.isna().sum()/df.shape[0]*100).T.rename(index={0:'% NaN'}))
    infos = infos.append(pd.DataFrame([df[col].unique().size for col in df.columns],index=df.columns)\
                               .T.rename(index={0:'Nbe uniques'}))
    return infos

In [145]:
###############
#     Data    #
###############
infos_df(data)

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
Type,object,object,object,object,float64,float64,float64,float64,float64,float64,...,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64
Nbe lignes,886930,886930,886930,886930,886930,886930,886930,886930,886930,886930,...,886930,886930,886930,886930,886930,886930,886930,886930,886930,886930
Nbe NaN,0,0,0,0,814642,851393,851311,851385,851200,799624,...,835494,835494,835494,835494,835494,835494,835494,835494,835494,835494
Nbe Entrées,886930,886930,886930,886930,72288,35537,35619,35545,35730,87306,...,51436,51436,51436,51436,51436,51436,51436,51436,51436,51436
% NaN,0,0,0,0,91.8496,95.9933,95.984,95.9924,95.9715,90.1564,...,94.2007,94.2007,94.2007,94.2007,94.2007,94.2007,94.2007,94.2007,94.2007,94.2007
Nbe uniques,242,242,3665,3665,24596,30893,30983,30989,31140,37839,...,8028,7915,7801,7701,7563,7467,7336,7151,7045,6915

In [146]:
###############
#   Country   #
###############
infos_df(country)

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data
Type,object,object,object,object,object,object,object,object,object,object,...,object,object,object,object,object,object,object,float64,float64,object
Nbe lignes,241,241,241,241,241,241,241,241,241,241,...,241,241,241,241,241,241,241,241,241,241
Nbe NaN,0,0,0,0,3,26,96,27,27,1,...,80,60,28,100,81,130,99,134,56,62
Nbe Entrées,241,241,241,241,238,215,145,214,214,240,...,161,181,213,141,160,111,142,107,185,179
% NaN,0,0,0,0,1.24481,10.7884,39.834,11.2033,11.2033,0.414938,...,33.195,24.8963,11.6183,41.4938,33.61,53.9419,41.0788,55.6017,23.2365,25.7261
Nbe uniques,241,241,241,241,239,153,132,8,6,241,...,3,3,28,61,76,3,36,12,14,21

In [147]:
#################
#     Series    #
#################
infos_df(series)

,Series Code,Topic,Indicator Name,Short definition,Long definition,Periodicity,Base Period,Other notes,Aggregation method,Limitations and exceptions,General comments,Source,Statistical concept and methodology,Development relevance,Related source links
Type,object,object,object,object,object,object,object,object,object,object,object,object,object,object,object
Nbe lignes,3665,3665,3665,3665,3665,3665,3665,3665,3665,3665,3665,3665,3665,3665,3665
Nbe NaN,0,0,0,1509,0,3566,3351,3113,3618,3651,3651,0,3642,3662,3450
Nbe Entrées,3665,3665,3665,2156,3665,99,314,552,47,14,14,3665,23,3,215
% NaN,0,0,0,41.1733,0,97.2988,91.4325,84.9386,98.7176,99.618,99.618,0,99.3724,99.9181,94.1337
Nbe uniques,3665,37,3665,1170,2060,2,5,15,4,10,9,31,3,2,2

In [148]:
#########################
#     Country-Series    #
#########################
infos_df(cnt_ser)

            CountryCode SeriesCode DESCRIPTION
Type             object     object      object
Nbe lignes          613        613         613
Nbe NaN               0          0           0
Nbe Entrées         613        613         613
% NaN                 0          0           0
Nbe uniques         211         21          97

In [149]:
#################
#    FootNote   #
#################
infos_df(footnote)

            CountryCode SeriesCode    Year DESCRIPTION
Type             object     object  object      object
Nbe lignes       643638     643638  643638      643638
Nbe NaN               0          0       0           0
Nbe Entrées      643638     643638  643638      643638
% NaN                 0          0       0           0
Nbe uniques         239       1558      56        9102

### Exploration du contenu des tables

In [116]:
#infos_df.T["Nbe lignes"]-infos_df.T["Nbe NaN"]
pd.DataFrame(infos_df.loc["Nbe lignes"]-infos_df.loc["Nbe NaN"]).T.rename(index = {0:"Nbe Entrées"})

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
Nbe Entrées,886930,886930,886930,886930,72288,35537,35619,35545,35730,87306,...,51436,51436,51436,51436,51436,51436,51436,51436,51436,0

In [90]:
Print
infos_df(data)

ValueError: Shape of passed values is (1, 70), indices imply (70, 70)

In [150]:
# extrait, transpose et renomme la ligne
infos_df = pd.DataFrame(data.dtypes).T.rename(index={0:'Type'}) 
infos_df = infos_df.append(pd.DataFrame(data.isna().sum()).T.rename(index={0:'Nbe NaN'}))
infos_df = infos_df.append(pd.DataFrame(data.isna().sum()/data.shape[0]*100).T.rename(index={0:'% NaN'}))
infos_df = infos_df.append(pd.DataFrame([data[col].unique().size for col in data.columns],index=data.columns)\
                           .T.rename(index={0:'Nbe uniques'}))
infos_df = infos_df.append(pd.DataFrame([data[col].size for col in data.columns],index=data.columns)\
                           .T.rename(index={0:'Nbe lignes'}))

In [121]:
############DATA
# colonnes
print("L'onglet Data a {} lignes et {} colonnes, qui sont : ".format(data.index.size, data.columns.size))
print("{} : ".format(data.columns))
# nbe valeurs uniques 
print("Les 4 premières colonnes qui sont {} : "\
      .format(list(data.columns[:4])))
print("prennent respectivement {} valeurs uniques."\
      .format([data[col].unique().size for col in data.columns[:4]]))
print("---------------------------------------------")
#########COUNTRY
# colonnes
print("L'onglet Country a {} lignes et {} colonnes, qui sont : {}"\
      .format(country.index.size, country.columns.size, list(country.columns)))
# nbe valeurs uniques 
print("prennent respectivement {} valeurs uniques."\
      .format([country[col].unique().size for col in country.columns]))
print("---------------------------------------------")
########SERIES
# colonnes
print("L'onglet Series a {} lignes et {} colonnes, qui sont : {}"\
      .format(series.index.size, series.columns.size, list(series.columns)))
# nbe valeurs uniques 
print("prennent respectivement {} valeurs uniques."\
      .format([series[col].unique().size for col in series.columns]))
print("---------------------------------------------")
###########COUNTRY-SERIES
# colonnes
print("L'onglet Country-Series a {} lignes et {} colonnes, qui sont : {}"\
      .format(cnt_ser.index.size, cnt_ser.columns.size, list(cnt_ser.columns)))
# nbe valeurs uniques 
print("prennent respectivement {} valeurs uniques."\
      .format([cnt_ser[col].unique().size for col in cnt_ser.columns]))
print("---------------------------------------------")
###########FOOTNOTE
# colonnes
print("L'onglet Series a {} lignes et {} colonnes, qui sont : {}"\
      .format(footnote.index.size, footnote.columns.size, list(footnote.columns)))
# nbe valeurs uniques 
print("prennent respectivement {} valeurs uniques."\
      .format([footnote[col].unique().size for col in footnote.columns]))

L'onglet Data a 886930 lignes et 70 colonnes, qui sont :
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2020', '2025', '2030', '2035', '2040', '2045',
       '2050', '2055', '2060', '2065', '2070', '2075', '2080', '2085', '2090',
       '2095', '2100', 'Unnamed: 69'],
      dtype='object') :
Les 4 premières colonnes qui sont ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'] :
prennent respectivement [242, 242, 3665, 3665] valeurs uniques.
---------------------------------------------
L'onglet Country a 241 lignes et 32 colonnes, qui sont : ['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code', 'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code', 'National accounts base year', 'National accounts reference year', 'SNA price valuation', 'Lending category', 'Other groups', 'System of National Accounts', 'Alternative conversion factor', 'PPP survey year', 'Balance of Payments Manual in use', 'External debt Reporting status', 'System of trade', 'Government Accounting concept', 'IMF data dissemination standard', 'Latest population census', 'Latest household survey', 'Source of most recent Income and expenditure data', 'Vital registration complete', 'Latest agricultural census', 'Latest industrial data', 'Latest trade data', 'Latest water withdrawal data', 'Unnamed: 31']
prennent respectivement [241, 241, 241, 241, 239, 153, 132, 8, 6, 241, 44, 12, 3, 4, 3, 4, 33, 4, 2, 4, 3, 3, 3, 28, 61, 76, 3, 36, 12, 14, 21, 1] valeurs uniques.
---------------------------------------------
L'onglet Series a 3665 lignes et 21 colonnes, qui sont : ['Series Code', 'Topic', 'Indicator Name', 'Short definition', 'Long definition', 'Unit of measure', 'Periodicity', 'Base Period', 'Other notes', 'Aggregation method', 'Limitations and exceptions', 'Notes from original source', 'General comments', 'Source', 'Statistical concept and methodology', 'Development relevance', 'Related source links', 'Other web links', 'Related indicators', 'License Type', 'Unnamed: 20']
prennent respectivement [3665, 37, 3665, 1170, 2060, 1, 2, 5, 15, 4, 10, 1, 9, 31, 3, 2, 2, 1, 1, 1, 1] valeurs uniques.
---------------------------------------------
L'onglet Country-Series a 613 lignes et 4 colonnes, qui sont : ['CountryCode', 'SeriesCode', 'DESCRIPTION', 'Unnamed: 3']
prennent respectivement [211, 21, 97, 1] valeurs uniques.
---------------------------------------------
L'onglet Series a 643638 lignes et 5 colonnes, qui sont : ['CountryCode', 'SeriesCode', 'Year', 'DESCRIPTION', 'Unnamed: 4']
prennent respectivement [239, 1558, 56, 9102, 1] valeurs uniques.

In [151]:
df = pd.DataFrame([0,1,2,3,4], index = ['a', 'b', 'Unnamed', 'd', 'e'])
df = df.T
~df.columns.str.match('Unnamed')
df.loc[:, [True, False, True]]

   a  Unnamed
0  0        2